@using CodeFirst.Domain.Entities
@{
    @model List<Blog>;
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach(var blog in Model) {
        <h3>@blog.Name</h3>
        <ul>
        @foreach (var post in blog.Posts){
            <li>@post.Title</li>
        }
        </ul>
    }
</div>
